.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #000000, #5c2e7e 48%, #8bbccc);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.link-btn {
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(5, 3, 5);
  text-decoration: underline;
  background: none;
}

.link-btn:hover{
  color:rgba(126, 169, 33, 0.969);
}



.login-btn {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(48,172,251);
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;background-color: white; 
  color: black;
  border-radius: 20px;
  color: black;
  padding: 8px 22px;
}

.login-btn:hover {
  transform: scale(1.03);
  letter-spacing: 4px;
  background-color: #54145b;
  color: #1E90FF;
}