.logo_container{
    display: flex;
    justify-content: center;
    position: absolute;
    top:15px;
    height: 45px;;
    border-radius:50%;
    width: 45px;
    background-color:#fef9ff;
    left:25%;
    z-index: 1;
}

.logo_container img{
    position: relative;
    top:22%;
    left:-1%;
    width:24px;
    height: 24px;
}

.logo_b{
    position: absolute;
    top:10px;
    left:25%;
    border-bottom: 2px solid #353535;
    width: 25px;
    height: 25px;
}

.mainContent_container{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #3D3D3D;
    z-index: 1;
}

.navbar{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    background-color:#353535;
    z-index: 1;
}

.navbar_button_container{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height:30px;
    padding-top: 5px;
    padding-bottom: 8px;
    text-overflow: "";
    overflow: hidden;
}

.navbar_button_container img{
    width: 26px;
    height: 26px;
    background-color: #555555;
    border-radius:50%;
}

.navbar_button_name{
    text-overflow: "";
    font-family: Toboggan;
    align-self: center;
    font-size: 13px;
    color: #fff;
    user-select: none;
    display: none;
}

.navbar_button_container:hover{
    cursor: pointer;
}

.secondNavbar{
    position: relative;
    height: 100%;
    left: 100px;
    background-color: #3D3D3D;
    z-index: 0;
    width: 0px;
}

.MapContainer{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    top:0px;
    left: 100px;
    z-index: 0;
    height: 100%;
    width: calc(100vw - 100px);
    min-width: 500px;
    background-color: #EBEBEB;
}

.map{
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper{
    position: relative;
    width: 100%;
}

.OfferedProducts_container{
    z-index: 1;
    width: 0%;
    height: 0%;
    display: none;
}

::-webkit-scrollbar {
    width: 1px;
    height:5px;
    background-color: #F5F5F5;
    border-radius: 30px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #555;
}

.super_name_container{
    position: relative;
    height:40px;
    display: flex;
    gap:40px;
    font-family: Manrope-Bold;
    font-size: 30px;
    top:10px;
    align-items: baseline;
}

.back{
    display: flex;
    justify-content: center;
    position: relative;
    left:20px;
    align-items: center;
    font-family: Rubik;
    padding:0px 10px 0px 10px;
    border: 1px solid black;
    border-radius:30px;
    user-select: none;
    z-index: 1;
    background-color: transparent;
    color: black;
}

.back:hover{
   cursor: pointer;
    
}
.back_symbol{
    font-size: 15px;
    margin-left: 5px;
    display: none;
    user-select: none;
}


.products{
    display: flex;
    position: relative;
    align-items: center;
    height:100%;
    width:100%;
    overflow:auto;
}

.product_container{
    position: relative;
    height:200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width:350px;
    max-width: 350px;
    box-shadow: 2px 0px 19px 1px rgba(165, 164, 164, 0.56);
    border-radius: 20px;
    overflow: hidden;
    user-select: none;
    transition: all 0.1s ease-in;
    margin-left: 20px;
    z-index: 1;
}

.product_container:hover{
    transform: scale(1.05);
    /*cursor: pointer;*/
}

.first_row{
    display: flex;
    align-items: center;
    height: 50%;;
}

.image_container{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 20px;
}

.image_container img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    -webkit-user-drag: none;
}

.hot_logo{
    position: relative;
    top:-40px;
    left:-20px;
    display: flex;
    justify-content: center;
    transform: rotate(41deg);
    order:3;
    justify-self: flex-end;
    min-width:200px;
    height:60px;
    align-items: flex-end;
    z-index:1;
    background-color:red;
}

.hot_logo img{
    position: relative;
    height:32px;
    width: 32px;
    left:5px;
    transform: rotate(41deg);
    -webkit-user-drag: none;
}

.product_name{
    position: relative;
    left:10px;
    font-family: Manrope-Bold;
    user-select: text;
    -webkit-user-drag: none;
    min-width: 150px;
}

.second_row{
    display: flex;
    align-items: center;
    font-family: Manrope-Regular;
    justify-content: center;
    user-select: text;
    width: 100%;
    height: 50%;
}

.product_stock{
    padding: 5px 5px 5px 5px;
    font-family:Manrope-Bold;
    color: white;
    border-radius: 5px;
    user-select: none;
    margin-left: 20px;

}

.second_row div:hover{
    cursor: pointer;
}

.left_scroll{
    position: relative;
    margin-right: 20px;;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Rubik;
    padding:25px 25px 25px 25px;
    border: 0px;
    color: rgba(255, 255, 255, 0.753);
    background-color: rgba(161, 161, 161, 0.5);
    border-radius:50%;
    z-index: 3;
    transition: all 0.1s ease;
}

.left_scroll:hover{
    transform: translateX(-5px);
    cursor: pointer;
}

.right_scroll:hover{
    cursor: pointer;
    transform: translateX(5px);
}

.right_scroll{
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: Rubik;
    padding:25px 25px 25px 25px;
    border: 0px;
    color: rgba(255, 255, 255, 0.753);
    background-color: rgba(161, 161, 161, 0.5);
    border-radius:50%;
    z-index: 3;
    transition: all 0.1s ease;
}

.products::-webkit-scrollbar {
    width: 0px;
    height:0px;
    background-color: #F5F5F5;
    border-radius: 30px;
    display: none;
}

.price input{
    font-family: Manrope-Regular;
    width:30px;
    border: none;
    font-size: 15px;;
}

.price::after{
    content: "\20AC"
}

.scrollArrowsContainer{
    position: relative;
    top:-20px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product_like{
    display: flex;
    align-items: baseline;
    width: 140px;;
    position: relative;
    left:10px;
}

.product_like img{
    width:25px;
    height:25px;
    margin-left:15px;
    transition: all 0.2s ease;
}

.dislike{
    position: relative;
    top:5px;
    rotate:180deg;
}

.product_like img:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.product_like p {
    margin-left: 5px;
}