.logo_container{
    display: flex;
    justify-content: center;
    position: absolute;
    top:15px;
    height: 45px;;
    border-radius:50%;
    width: 45px;
    background-color:#fef9ff;
    left:25%;
    z-index: 1;
}

.logo_container img{
    position: relative;
    top:22%;
    left:-1%;
    width:24px;
    height: 24px;
}

.logo_b{
    position: absolute;
    top:10px;
    left:25%;
    border-bottom: 2px solid #353535;
    width: 25px;
    height: 25px;
}

.mainContent_container{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: #f7f8ff;
}

.navbar{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    background-color:#353535;
}

.navbar_button_container{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height:30px;
    padding-top: 5px;
    padding-bottom: 8px;
    text-overflow: "";
    overflow: hidden;
}

.navbar_button_container img{
    width: 26px;
    height: 26px;
    background-color: #555555;
    border-radius:50%;
}

.navbar_button_name{
    text-overflow: "";
    font-family: Toboggan;
    align-self: center;
    font-size: 13px;
    color: #fff;
    user-select: none;
    display: none;
}

.navbar_button_container:hover{
    cursor: pointer;
}

.secondNavbar{
    position: relative;
    height: 100%;
    left: 100px;
    width: 0px;
    background-color: black;
}

.MapContainer{
    position: relative;
    flex-grow: 2;
    top:0px;
    left: 100px;
}

.map{
    position: relative;
    
    width: 100%;
    height: 100%;
    
    background-color:white;
    border-radius: 5px;
    z-index: 0;
}

.wrapper{
    position: relative;
    width: 100%;
}
