form {
  padding: 1.5em;
  border-radius: 5px;
  background-image: linear-gradient(#337cf2, rgba(255, 0, 0, 0.5));
}

label,
input {
  padding: 0.5em;
}

input {
  margin: 0.3em;
  text-align: center;
}

input::placeholder {
  text-align: center;
}

input:hover,
:focus {
  border-radius: 5px;
}

input[type="submit"] {
  width: 12em;
  height: 3em;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: 500;
}
span {
  font-size: 1.2em;
}

.show {
  display: block;
  transition: 800ms;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.show.active {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}
